/* General Component Styling */
body {
  font-family: Georgia, "Times New Roman", Times, serif;
}
/* Container element - centers everything. Adds margins to the sides and top */
.container {
  padding: 20px 20px;
  margin: 0 auto;
  max-width: 1024px;
}

.row {
  display: flex;
  flex-direction: row;
}

.space-around {
  justify-content: space-between;
}

.list-item {
  list-style-type: none;
  margin-bottom: 20px;
  padding-left: none;
}

ul {
  padding: 0px;
}

.btn-clear {
  background: transparent;
  border: none;
}
/*
Top and new article title 
*/
.article-link {
  display: inline-block;
  text-decoration: none;
  color: rgb(204, 20, 20);
  font-size: 18px;
  font-weight: bold;
}

.list-item p {
  margin-bottom: 0px;
  margin-top: 5px;
  font-size: 18px;
  color: rgb(133, 129, 129);
}

.list-item p a {
  color: rgb(0, 0, 0);
}

.navbar {
  padding-top: 50px;
  padding-bottom: 20px;
}

.navbar a {
  text-decoration: none;
  margin-right: 10px;
  font-size: 18px;
  color: rgb(0, 0, 0);
  font-weight: bold;
}
